.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
_targets_*
*_cache/
/cache/
*.utf8.md
*.knit.md
.DS_Store
*.*out

.Renviron
# Ignore everything starting with underscore
_*/*
*_*/*
_*

# But not these files...
!_*.R
!_*.qmd
!_*.Rmd

*.html
# Don't ignore _book folder and its content
!_book/
!_book/*
!_book/**/_*.html

# Ignore PDF files in _book directory
_book/*.pdf

run.Rout

/.quarto/
*pdf
*zip


