.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
_targets_*
*_cache/
/cache/
*.utf8.md
*.knit.md
.DS_Store
*.html

.Renviron
_targets.R
_targets/*
_external_*
_external.R
_pinboard_*
_pinboard.R
_data_raw_*
_data_raw.R
_topmodel_*
_topomodel.R
_master_files/*

_data_analyze/*
_data_analyze_*
_data_import/*
_data_import_*
_data_analyze_*
_data_import_*
_data_api_*
_data_get_*


_targets/*
_data_api/*
_targets/meta/meta
_targets/meta/meta
run.Rout

/.quarto/
*pdf

_book/*
